@using LibraryClient.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Options
@model LibraryClient.Models.Auteur




@{
    
    ViewData["Title"] = "Details";

    var optionsBuilder = new DbContextOptionsBuilder<LibraryClientContext>();
    optionsBuilder.UseSqlServer("Server=(localdb)\\MSSQLLocalDB;Database=librarydbo;Trusted_Connection=True;MultipleActiveResultSets=true");

    // Création de l'instance de LibraryClientContext en utilisant les options de configuration
    var context = new LibraryClientContext(optionsBuilder.Options);
    List<LibraryClient.Models.Livre> livres = context.Livres.Where(l=>l.Auteur.Id==Model.Id).ToList();
    List<LibraryClient.Models.Auteur> auteurs = context.Auteurs.ToList();
}

<div class="container " style="display: block;">

    <div class="nav" style="display: flex;">
        <!----------------------------------  Barre de recherche -------------------------------------------------->
        <div class="text-center">
            <input name="query" aria-label="search" autocomplete="off" class="search-field" id="sm"
            placeholder="Rechercher par titre, auteur, série" type="search" value="" />
        </div>
        <div>
            <button style="background-color: #33C198;border-color: #33C198;">Chercher</button>
        </div>
    </div>
    <!--Aut card -->
    <div class="text-center card">

        <div style="display:flex; margin:50px 0px 20px 70px">
            <div style="display:block">
                <div class="BookImage">
                    <img src="@Html.DisplayFor(model => model.Image)" />
                </div>

            </div>

            <div class="Infos" style="display:block">

                <div class="caracteristiques" style="width: fit-content;margin-left:200px ">

                    <table class="table row" style="width: 500px">
                        <tbody>
                            <tr>
                                <th>Nom</th>
                                <td>@Html.DisplayFor(model => model.Nom)</td>
                            </tr>
                            <tr>
                                <th>Prenom</th>
                                <td>@Html.DisplayFor(model => model.Prenom)</td>
                            </tr>
                            <tr>
                                <th>Date de naissance</th>
                                <td>@Html.DisplayFor(model => model.DateNaissance)</td>
                            </tr>
                            <tr>
                                <th>Date décès</th>
                                <td>@Html.DisplayFor(model => model.DateDeces)</td>
                            </tr>



                        </tbody>
                    </table>
                </div>
                <div class="card1">
                    <p>
                        @Html.DisplayFor(model => model.Biographie)
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top:20px">
        <h4 style="color:#33C198; text-align:justify;">Quelques ouvrages de @Html.DisplayFor(model => model.Nom) @Html.DisplayFor(model => model.Prenom):</h4>
        <div style="display: flex;justify-content: space-around; margin-left:110px">
            @for (var i = 0; i < 4; i++)
            {
                <div class="book">
                    <a class="Infos_complets margin decoration" href="@Url.Action("BookInfos", "Home")">
                        <!--  Image --->
                        <div class="img flex-container">
                            <img class="book-image" alt=""
                                 src="@Html.DisplayFor(modelItem => livres[i].Image)"
                            />
                        </div>
                        <!--  Infos du livre --->
                        <div class="Bookdetails" style="text-align: center;">
                            <div class="title "> @Html.DisplayFor(modelItem => livres[i].Titre)</div>
                            <div class="auteur ">@Html.DisplayFor(modelItem => livres[i].Auteur.Prenom) @Html.DisplayFor(modelItem => livres[i].Auteur.Nom)</div>
                            <div class="panier ">Emprunter</div>
                        </div>
                    </a>
                </div>
            }
            
            
        </div>
    </div>

</div>
@* <div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
<style>
    .nav {
        margin-left: 150px;
    }

    .container {
        margin-left: 65px;
        text-align: center;
    }

    input {
        padding: 5px;
        width: 800px;
        margin-bottom: 70px;
        margin-top: 10px;
        border-radius: 10px;
    }

    button {
        margin-top: 12px;
        padding: 4px;
        border-radius: 8px;
        margin-left: 10px;
    }

    .decoration {
        text-decoration: none;
    }

    table {
        margin-top: 20px;
        text-align: justify;
    }

    .card {
        margin-right: 200px;
        width: 1250px;
        border: 1px solid #33C198;
        box-shadow: 0 10px 10px rgba(51, 193, 152, 0.5);
    }

    img {
        width: 255px;
        height: 395px;
    }

    button {
        margin-right: 10px;
    }

    .card1 {
        text-align: justify;
    }

    th {
        width: 200px;
    }

    td {
        width: 300px;
    }

    p {
        margin: 50px 50px 50px 200px;
    }

    a {
        margin: 5px 10px 2px 5px;
    }

    .book-image {
        width: 140px;
        height: 217px;
    }

    #modal {
        margin-left: 80px;
        margin-top: 10px;
    }

    #image {
        width: 70px;
        height: 90px;
    }
</style>


<script src="~/js/script.js"></script>